include components/var
doctype html
html(lang="en")
	head
		include components/head
		link(rel="stylesheet" type="text/css" href='css/index.css')
		// check first if browser support flexbox or not by modernizr
	body
		div(class='container-fluid p-0 m-0')
			noscript You need to enable JavaScript to run this app.
			div#app