- const title = 'bestmoviz'
- const themeColor = '#39b3f1'
- const icon = 'icon-192.png'
- const description = 'description'
- const keyword = 'keyword'
- const fonts = ['https://fonts.googleapis.com/css?family=Raleway:700|Roboto']
- const globalStyle = []