/*============
==start menu==
==============*/
.menu
{
	position: fixed;
	top: auto;
	#{left}: 15px;
	#{right}: 90%;
	z-index: 999;
	border: 1px solid $border-color;
	background-color: $white-color;
	transition:#{right} 0.3s ease-in-out;
	li
	{
		line-height: 0;
	}
	.menu-link
	{
	    display: inline-block;
	    width: 100%;
	    line-height: 1.5;
		padding: 10px;
	    text-transform: capitalize;
	    border-bottom: 1px solid $border-color;
	    color: $text-color;
	    transition: border 0.2s ease-in;
	    font-size: 1.2rem;
	    text-align: center;
	    white-space: nowrap;
    	overflow: hidden;
	    &.active,
	    &:hover,
	    &:focus
	    {
	    	color: $main-color;
	    	border-bottom: 2px solid $main-color;
	    }
	}
	.navbar-toggler-icon
	{
		padding: 0 0.5em;
	}
	.menu-name
	{
		display: none;
		visibility: hidden;
	}
	&.show
	{
		#{right}: 50%;
		.menu-link
		{
			text-align: left;
		}
		.menu-name
		{
			display: inline;
			visibility: visible;
		}
	}
}
/*in mobile device style*/
@include media($min_xlg)
{
	.menu
	{
		width: 14%;
		.menu-link
		{
			text-align: left;
		}
		.menu-name
		{
			display: inline;
			visibility: visible;
		}
		.menu-toggle
		{
			display: none;
			visibility: hidden;
		}
		.navbar-toggler-icon
		{
			padding-right: 0.5em;
		}
	}
}
@include media($max_mid)
{
	.menu
	{
		display: none;
		top: 65px;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    overflow: scroll;
	    transform: translate(-100%,0);
		transition: transform 0.3s ease-in-out;
		will-change: transform;
	    &.show
	    {
	    	transform: translate(0);
	    }
	    .menu-toggle
		{
			display: none;
			visibility: hidden;
		}
	}
}
/*============
==end menu==
==============*/