.movie-item
{
	.movie-img
	{
		min-height: 400px;
    	max-height: 430px;
	}
	table
	{
		background-color: $white-color;
	    text-transform: capitalize;
	    width: 100%;
	    line-height: 1.5;
	    border-spacing: 0;
	    border-collapse: collapse;
	}
	td,
	th
	{
		border: 1px solid $border-color;
	    padding: 10px;
	    text-align: #{$left};
	}
	.notice
	{
		display: block;
		margin: 0.5em 0;
		background-color: #e9f2ff;
		border: 1px solid #069;
		padding: 10px;
		color: $black-color;
		.fa
		{
			color: #069;
		}
	}
	.box
	{
		display: block;
		margin: 0.5em 0;
		background-color: #fff;
		border: 1px solid $border-color;
		color: $black-color;
	}
	.title
	{
		padding: 10px;
		background-color: $white-color;
		border-bottom: 1px solid $border-color;
	}
	.content
	{
		position: relative;
		padding: 10px;
	}
	.btn-play
	{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 2em;
	    margin: auto;
	    color: $white-color;
	}
}