/*============
==start nav==
==============*/
nav
{
    position: fixed;
	top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
	padding: 1em 0;
	background-color: $white-color;
	box-shadow: 0 1px 1px 2px $border-color;
	z-index: 999;
	.container
	{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.search
	{
		position: relative;
		width: 40%;
		flex: 0 0 40%;
	}
	.search-item
	{
		position: absolute;
	    top: auto;
	    left: 0;
	    width: 100%;
	    padding: 10px;
	    box-shadow: 0 1px 2px 0px $border-color, 0 10px 25px -15px $border-color;
		background-color: $white-color;
		height: 300px;
		overflow: auto;
	}
	.item
	{
    	display: block;
		width: 100%;
		padding: 10px 5px;
	    border-bottom: 1px solid $border-color;
	    white-space: nowrap;
	    color: $text-color;
	    cursor: pointer;
	    &:hover,
	    &:focus
	    {
	    	background-color: $main-color3;
	    	color: $white-color;
	    }
	    img
	    {
	    	width: 50px;
    		height: 70px;
    		margin-right: 10px;
	    }
	}
	.navbar-brand
	{
		text-align: right;
	}
	.mobile-view
	{
		display: none;
		justify-content: space-between;
    	align-items: center;
	}
	.search-form-toggler,
	.navbar-toggler
	{
		color: $text-color;
		font-size: 1.5em;
    	padding-right: 0.5em;
	}
}
// style in mobile
@include media($max_lg)
{
	nav
	{
		.btn-login
		{
			display: none;
		}
		.search
		{
			width: 50%;
			flex: 0 0 50%;
		}
	}
}
@include media($max_mid)
{
	nav
	{
		.search
		{
			display: none;
			position: fixed;
		    top: 70px;
			left: 0;
		    right: 0;
		    bottom: 0;
		    width: 100%;
		    z-index: 999;
			background-color: $white-color;
		    transform: translate(0,-100%);
			transition: transform 0.3s ease-in-out;
			will-change: transform;
			overflow: auto;
			&.show
			{
		    	transform: translate(0);
			}
		}
		.search-item
		{
			height: auto;
			overflow: visible;
		}
		.mobile-view
		{
			display: flex;
		}
	}
}
/*============
==end nav==
==============*/